.filter {
  text-align: center;
  border-radius: 8px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: end;
  row-gap: 6px;
  padding: 30px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  position: relative;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: end;
  row-gap: 15px;
  margin: auto;
}

.input-row {
  width: 100%;
  display: flex;
  column-gap: 5px;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  font-family: "Roboto", "Inter", "Avenir", "Helvetica", "Arial", "sans-serif";
}
.input-row input {
  border: none;
  border-radius: 4px;
}
.input-row textarea {
  border: none;
  border-radius: 4px;
}
/* 
#input-date {
  flex-direction: row;
} */

#input-keywords {
}

#keywords {
  vertical-align: top;
  resize: vertical;
  max-height: 200px;
}

.buttons-container {
  display: flex;
  column-gap: 25px;
  justify-content: flex-end;
}

#reset {
  cursor: pointer;
  background: #888888;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  padding: 10px;
  color: white;
}
#submit {
  cursor: pointer;
  background: #e81c00;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  padding: 10px;
  color: white;
}

.filter-error-message {
  align-self: center;
  margin: 0;
  position: absolute;
  top: 10px;
}
.filter-error-off {
  display: none;
  color: red;
}
.filter-error-on {
  display: block;
  color: red;
}

@media screen and (max-width: 649px) {
  .filter {
    align-self: stretch;
    align-items: center;
    margin: 10px;
  }
}

@media screen and (min-width: 300px) {
  .input-row {
    font-size: calc(10px + 2 * ((100vw - 300px) / 300));
  }
}

@media screen and (min-width: 650px) {
  .input-row {
    font-size: 12px;
  }
}
