.filter {
  text-align: center;
  border-radius: 5px;
  background-color: var(--background-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
  row-gap: 6px;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 6px var(--box-shadow);
  box-shadow: 0px 2px 6px var(--box-shadow);
  white-space: nowrap;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 15px;
  margin: auto;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", "Inter", "Avenir", "Helvetica", "Arial", "sans-serif";
}

.inputs-container input {
  border: none;
  border-radius: 5px;
}
.inputs-container textarea {
  border: none;
  border-radius: 5px;
}
.inputs-container label {
  text-align: right;
}

.dates-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  column-gap: 2px;
}
.dates-container label {
  text-align: center;
}

#keywords {
  vertical-align: top;
  resize: vertical;
  max-height: 200px;
}

.buttons-container {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 50%;
  justify-self: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 5px;
  font-weight: 400;
}

#reset {
  flex: 1;
  cursor: pointer;
  background: #888888;
  -webkit-box-shadow: 1px 3px 5px var(--box-shadow);
  box-shadow: 1px 3px 5px var(--box-shadow);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
}
#submit {
  flex: 1;
  cursor: pointer;
  background: #e81c00;
  -webkit-box-shadow: 1px 3px 5px var(--box-shadow);
  box-shadow: 1px 3px 5px var(--box-shadow);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
}

.filter-error-message {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
  position: absolute;
  top: 10px;
}
.filter-error-off {
  display: none;
  color: red;
}
.filter-error-on {
  display: block;
  color: red;
}

@media screen and (max-width: 850px) {
  .filter {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
  }
}
