.header {
  width: 100%;
  padding-left: max(env(safe-area-inset-left), 10px);
  padding-right: max(env(safe-area-inset-right), 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
  background-color: var(--background-secondary);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h3 {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header-logo {
  width: 4em;
  -webkit-filter: invert(var(--invert));
  filter: invert(var(--invert));
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header-name {
  font-size: 1.3em;
  font-family: "Roboto Condensed";
  letter-spacing: -0.055em;
}
.header-name-sample {
  color: #e81c00;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 850px) {
  .header-logo {
    width: 6em;
  }
  .header {
    padding: 5px;
  }
}

@media screen and (max-width: 850px) {
  .header-toggle {
    display: none;
  }
}
