.main {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

.description {
  font-weight: 700;
  text-align: center;
  margin: 20px auto;
  letter-spacing: -0.04em;
  text-shadow: var(--text-shadow);
}
.description-red {
  color: #e81c00;
}

h2 {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-row-gap: 10px;
    -moz-row-gap: 10px;
    row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
  }
}

@media screen and (min-width: 300px) {
  .description {
    font-size: calc(22px + 8 * ((100vw - 300px) / 300));
  }
}

@media screen and (min-width: 850px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-row-gap: 10px;
    -moz-row-gap: 10px;
    row-gap: 10px;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    padding: 10px;
  }
  .description {
    font-size: 30px;
  }
}
